In [2]:
import pandas as pd
# New data provided by the user
bathroom_data = {
    'Number of Bathrooms': ['1 or fewer', '2', '3', '4', '5+'],
    'Other Perils': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Fire': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Other Wind and Hail': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Theft': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Water': [0.8064, 1.0000, 1.1799, 1.3349, 1.4898],
    'Liability': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Hurricane': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Severe Thunderstorm': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Winter Storm': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Earthquake': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create new DataFrame
bathroom_df = pd.DataFrame(bathroom_data)
bathroom_df

,Number of Bathrooms,Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake
0,1 or fewer,1.0,1.0,1.0,1.0,0.8064,1.0,1.0,1.0,1.0,1.0
1,2,1.0,1.0,1.0,1.0,1.0000,1.0,1.0,1.0,1.0,1.0
2,3,1.0,1.0,1.0,1.0,1.1799,1.0,1.0,1.0,1.0,1.0
3,4,1.0,1.0,1.0,1.0,1.3349,1.0,1.0,1.0,1.0,1.0
4,5+,1.0,1.0,1.0,1.0,1.4898,1.0,1.0,1.0,1.0,1.0

In [3]:
bathroom_df.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\24_Num_of_Bathrooms.csv", index=False)

In [4]:
foundation_data = {
    'Foundation': ['Crawlspace', 'Pier', 'Slab', 'Basement', 'Basement', 
                   'Basement', 'Basement', 'Basement'],
    'Percent Finished': [None, None, None, '0 - 24', '25 - 49', '50 - 74', '75 - 99', '100'],
    'Other Perils': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.1707, 1.1707],
    'Fire': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Other Wind and Hail': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Theft': [1.0000, 1.0000, 1.0000, 0.9155, 0.9155, 0.9155, 0.9155, 0.9155],
    'Water': [0.9043, 0.9043, 0.9043, 0.9043, 1.0000, 1.0000, 1.2073, 1.3379],
    'Liability': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Hurricane': [1.0000, 1.0000, 1.0000, 0.9877, 0.9877, 0.9877, 0.9877, 0.9877],
    'Severe Thunderstorm': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Winter Storm': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000],
    'Earthquake': [1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000, 1.0000]
}

# Create a new DataFrame
foundation_df = pd.DataFrame(foundation_data)
foundation_df

,Foundation,Percent Finished,Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake
0,Crawlspace,None,1.0000,1.0,1.0,1.0000,0.9043,1.0,1.0000,1.0,1.0,1.0
1,Pier,None,1.0000,1.0,1.0,1.0000,0.9043,1.0,1.0000,1.0,1.0,1.0
2,Slab,None,1.0000,1.0,1.0,1.0000,0.9043,1.0,1.0000,1.0,1.0,1.0
3,Basement,0 - 24,1.0000,1.0,1.0,0.9155,0.9043,1.0,0.9877,1.0,1.0,1.0
4,Basement,25 - 49,1.0000,1.0,1.0,0.9155,1.0000,1.0,0.9877,1.0,1.0,1.0
5,Basement,50 - 74,1.0000,1.0,1.0,0.9155,1.0000,1.0,0.9877,1.0,1.0,1.0
6,Basement,75 - 99,1.1707,1.0,1.0,0.9155,1.2073,1.0,0.9877,1.0,1.0,1.0
7,Basement,100,1.1707,1.0,1.0,0.9155,1.3379,1.0,0.9877,1.0,1.0,1.0

In [5]:
foundation_df.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\25_Foundation_Type.csv", index=False)