In [3]:
import PyPDF2
import re
import numpy as np
import pandas as pd

# Function to extract specific lines from a given page number
def extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line):
    with open(pdf_path, 'rb') as file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Check if the page number is within the range
        if page_number < len(pdf_reader.pages):
            # Extract text from the specific page
            page = pdf_reader.pages[page_number]
            text = page.extract_text()
            
            # Split the text into lines
            lines = text.split('\n')
            
            # Get the desired lines (adjusting for zero-based indexing)
            if len(lines) >= end_line:
                return lines[start_line-1:end_line]
            else:
                return "Page does not contain enough lines."
        else:
            return "Page number is out of range."


def convert_to_numeric(input_list):
    numeric_list = []
    for item in input_list:
        try:
            numeric_list.append(float(item))  # Attempt to convert to float
        except ValueError:
            continue  # Skip if conversion fails
    return numeric_list

In [6]:
pdf_path = 'D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Rate-Rule Attachments\\LA Rate Pages - Part 2.pdf'  
page_number = 46
start_line = 11
end_line = 14
specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)

data_values = ' '.join(specific_lines).split()

#data_values = convert_to_numeric(data_values)

data_values = np.array(data_values)

data_values = np.reshape(data_values, (-1, 13))

data_values = pd.DataFrame(data_values)

data_values

   0   1     2     3     4     5     6     7     8     9     10    11    12
0   0   0  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85
1   1   0  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85
2  2+   0  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85  0.85
3  0+  1+  1.00  1.00  1.00  1.00  1.00  1.00  1.00  1.00  1.00  1.00  1.00

In [9]:
claims_history = data_values

# Define the column names
claims_history.columns = ['Prior Weather, Cat, or Wildfire Claims', 'Prior Non-Weather, Non-Cat and Non-Wildfire Claims', 'Other Perils', 'Fire', 'Other Wind and Hail', 'Theft', 'Water',
           'Liability', 'Hurricane', 'Severe Thunderstorm', 'Winter Storm', 'Earthquake', 'Other Optional Coverages']

claims_history

,"Prior Weather, Cat, or Wildfire Claims","Prior Non-Weather, Non-Cat and Non-Wildfire Claims",Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake,Other Optional Coverages
0,0,0,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85
1,1,0,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85
2,2+,0,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85,0.85
3,0+,1+,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [10]:
claims_history.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Owner\\13_claims_history.csv", index=False)