### Rating area factors 
### USAA group owners forms 
### The first page (page 8 of the pdf)

In [2]:
import PyPDF2
import re
import numpy as np
import pandas as pd

# Function to extract specific lines from a given page number
def extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line):
    with open(pdf_path, 'rb') as file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Check if the page number is within the range
        if page_number < len(pdf_reader.pages):
            # Extract text from the specific page
            page = pdf_reader.pages[page_number]
            text = page.extract_text()
            
            # Split the text into lines
            lines = text.split('\n')
            
            # Get the desired lines (adjusting for zero-based indexing)
            if len(lines) >= end_line:
                return lines[start_line-1:end_line]
            else:
                return "Page does not contain enough lines."
        else:
            return "Page number is out of range."

# Example usage
pdf_path = 'D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Rate-Rule Attachments\\LA Rate Pages - Part 1.pdf'   # Replace with your file path
page_number = 7  # Page 8 in zero-indexed format
start_line = 12
end_line = 13
specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
#print("\n".join(specific_lines))

# Convert list of strings into a single string and split into individual values
data_values = ' '.join(specific_lines).split()

# Convert list of strings to a NumPy array of floats
array_data = np.array(data_values, dtype=float)

filtered_arr = array_data[(array_data % 1 != 0)] 
df = pd.DataFrame(filtered_arr.reshape(-1, 10))
rating_factor_table_1st_page = df.applymap(lambda x: np.floor(x * 10000) / 10000)
rating_factor_table_1st_page

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\987573476.py:45: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  rating_factor_table_1st_page = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
1,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
2,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
3,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.3904,0.3746,0.4102,0.9861
4,0.9873,0.9764,0.8841,0.9247,0.8397,0.9613,1.2645,0.4185,0.3981,0.9717
5,0.9873,0.9764,0.8841,0.9247,0.8397,0.9613,1.2645,0.4185,0.3981,0.9717
6,0.9924,0.9892,0.8727,0.8414,0.8397,0.9802,1.1170,0.4148,0.4141,0.9715
7,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.3904,0.3746,0.4102,0.9861
8,0.9975,1.0020,0.8613,0.7580,0.8396,0.9992,1.0828,0.3582,0.3940,0.9702
9,0.9873,0.9764,0.8886,0.9404,0.8384,1.0543,1.3612,0.3534,0.4098,0.9749
10,0.9803,0.9774,0.6707,0.7806,0.9549,0.9838,3.0301,0.3765,0.3494,1.0368
11,0.9873,0.9764,0.8817,0.9625,0.8390,0.8790,1.3381,0.3991,0.4105,0.9739
12,0.9873,0.9764,0.8841,1.0055,0.8390,0.8790,1.3228,0.4157,0.4124,0.9752
13,0.9873,0.9764,0.8817,1.1702,0.8506,0.8790,1.2201,0.4256,0.4166,0.9732
14,0.9975,1.0020,0.8613,0.7580,0.8396,0.9992,0.9696,0.4109,0.4302,0.9713
15,0.9975,1.0020,0.8613,0.7580,0.8396,0.9992,0.9696,0.4109,0.4302,0.9713
16,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.2240,0.4016,0.4318,0.9879
17,0.9975,1.0020,0.8613,0.7580,0.8396,0.9992,0.9696,0.4109,0.4302,0.9713
18,0.9839,0.9774,0.9382,0.9069,0.8240,1.0435,1.4973,0.3913,0.4083,1.0096
19,0.9873,0.9774,0.9271,0.9199,0.8355,1.0343,1.1691,0.3847,0.4374,0.9885
20,0.9975,1.0055,0.9035,0.6294,0.8262,1.0040,0.8668,0.3769,0.4824,0.9815

### Pages having two digit Rating Area numbers (pdf pgs 9 - 11)

In [3]:
rating_factor_table_two_digits = pd.DataFrame()
# Iterate through pages 8 to 13 (which corresponds to page_number from 7 to 12 in zero-indexed format)
for page_number in range(8, 11):
    # Define start_line and end_line, modify these if necessary
    start_line = 12
    end_line = 12
    
    # Extract specific lines from the page
    specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
    
    # Convert list of strings into a single string and split into individual values
    data_values = ' '.join(specific_lines).split()

    # Convert list of strings to a NumPy array of floats
    array_data = np.array(data_values, dtype=float)

    # Filter array to include only non-integer values
    filtered_arr = array_data[(array_data % 1 != 0) | (array_data == 1)]
    
    # Reshape array and create a DataFrame with the filtered data
    df = pd.DataFrame(filtered_arr.reshape(-1, 10))
    
    # Apply formatting to round the numbers to four decimal places
    df = df.applymap(lambda x: np.floor(x * 10000) / 10000)
    
    # Append the data to the main DataFrame
    rating_factor_table_two_digits = rating_factor_table_two_digits._append(df, ignore_index=True)

# Display the final DataFrame
rating_factor_table_two_digits

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\1477645121.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,0.9873,0.9774,0.9275,0.9462,0.8337,1.0304,1.1274,0.3900,0.4370,0.9911
1,0.9873,0.9774,0.9341,0.9667,0.8373,0.8840,1.0618,0.3723,0.4509,0.9893
2,0.9873,0.9774,0.9411,1.1775,0.8490,0.8840,1.0244,0.4281,0.4554,0.9873
3,0.9932,0.9807,0.9169,0.9161,0.8332,0.8840,0.9654,0.3785,0.4637,0.9849
4,0.9932,0.9868,0.8897,0.8299,0.8337,0.9242,0.9115,0.3695,0.4710,0.9841
...,...,...,...,...,...,...,...,...,...,...
58,0.9921,0.9791,0.7235,0.6129,0.8946,0.9789,1.3504,0.3317,0.3952,1.0254
59,0.9955,0.9791,0.7534,0.9920,0.8373,0.8648,1.1006,0.3583,0.4463,1.0279
60,0.9921,0.9791,0.7692,0.5747,0.8270,1.0081,1.1934,0.3948,0.4249,1.0300
61,1.0018,1.0365,0.7167,0.8333,0.8307,1.1498,0.5824,0.3973,0.5800,0.9938
62,0.9955,0.9791,0.7634,1.2354,0.8490,0.8648,1.0202,0.3764,0.4570,1.0250

### Transition from two to three digits Rating Area numbers (pdf pg 12)

In [4]:
import PyPDF2
import re
import numpy as np
import pandas as pd

# Function to extract specific lines from a given page number
def extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line):
    with open(pdf_path, 'rb') as file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Check if the page number is within the range
        if page_number < len(pdf_reader.pages):
            # Extract text from the specific page
            page = pdf_reader.pages[page_number]
            text = page.extract_text()
            
            # Split the text into lines
            lines = text.split('\n')
            
            # Get the desired lines (adjusting for zero-based indexing)
            if len(lines) >= end_line:
                return lines[start_line-1:end_line]
            else:
                return "Page does not contain enough lines."
        else:
            return "Page number is out of range."

# Example usage
pdf_path = 'D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Rate-Rule Attachments\\LA Rate Pages - Part 1.pdf'   # Replace with your file path
page_number = 11  # Page 8 in zero-indexed format
start_line = 12
end_line = 13
specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
#print("\n".join(specific_lines))

# Convert list of strings into a single string and split into individual values
data_values = ' '.join(specific_lines).split()

# Convert list of strings to a NumPy array of floats
array_data = np.array(data_values, dtype=float)

filtered_arr = array_data[(array_data % 1 != 0) | (array_data == 1)]
df = pd.DataFrame(filtered_arr.reshape(-1, 10))
rating_factor_table_two_to_three_digits = df.applymap(lambda x: np.floor(x * 10000) / 10000)
rating_factor_table_two_to_three_digits

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\2846542136.py:45: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  rating_factor_table_two_to_three_digits = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,0.9955,0.9791,0.7727,1.0602,0.8367,0.9149,1.1157,0.4226,0.4420,1.0284
1,0.9955,0.9791,0.8274,1.0677,0.8411,0.8648,0.9468,0.4721,0.4656,1.0211
2,1.0018,1.0365,0.7325,0.8850,0.8307,1.2934,0.5857,0.5266,0.5798,0.9928
3,1.0013,0.9968,0.8802,0.8179,0.8371,0.9937,0.7982,0.4280,0.4935,1.0110
4,0.9955,0.9791,0.7523,1.2154,0.8490,0.8648,1.0550,0.3948,0.4542,1.0301
5,0.9955,0.9791,0.7183,0.8932,0.8380,1.0468,1.1556,0.3795,0.4373,1.0324
6,0.9955,0.9791,0.7538,1.2296,0.8490,0.8648,1.0276,0.4009,0.4581,1.0321
7,1.0057,1.0071,0.8878,0.5244,0.8245,0.9996,0.7754,0.3836,0.5125,1.0115
8,0.9955,0.9791,0.7039,0.8983,0.8386,0.8648,1.1157,0.3799,0.4433,1.0343
9,0.9955,0.9791,0.7413,1.0411,0.8411,0.8648,0.9865,0.4801,0.4644,1.0320
10,0.9955,0.9791,0.7009,1.1022,0.8490,0.8648,1.0824,0.4050,0.4527,1.0346
11,1.0018,1.0365,0.7325,0.8845,0.8307,1.3084,0.5830,0.4390,0.5910,0.9985
12,1.0013,0.9824,0.7489,0.9051,0.8394,0.8648,0.9496,0.3992,0.4696,1.0336
13,0.9955,0.9791,0.7223,0.9560,0.8393,0.9159,1.1387,0.4288,0.4394,1.0375
14,0.9955,0.9791,0.7014,1.0698,0.8461,0.8648,1.0315,0.4029,0.4593,1.0371
15,1.0013,0.9939,0.6981,0.7034,0.8372,0.9245,0.8871,0.4216,0.4848,1.0420
16,0.9955,0.9791,0.7002,0.9421,0.8474,0.8648,1.0133,0.3983,0.4637,1.0392
17,0.9955,0.9791,0.7066,1.1135,0.8502,0.8648,1.0625,0.3957,0.4571,1.0422
18,1.0018,1.0365,0.7281,0.8364,0.8307,1.1633,0.5698,0.3832,0.5980,1.0031
19,1.0013,0.9885,0.7322,0.7848,0.8337,0.9042,0.9227,0.3917,0.4760,1.0371
20,0.9955,0.9791,0.7183,0.8986,0.8416,1.0469,1.1301,0.3983,0.4372,1.0430

### Pages having three digit Rating Area numbers (pdf pgs 13 - 29 shift)

In [5]:
rating_factor_table_three_digits_13_29 = pd.DataFrame()

for page_number in range(12, 29):
    # Define start_line and end_line, modify these if necessary
    start_line = 12
    end_line = 12
    
    # Extract specific lines from the page
    specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
    
    # Convert list of strings into a single string and split into individual values
    data_values = ' '.join(specific_lines).split()

    # Convert list of strings to a NumPy array of floats
    array_data = np.array(data_values, dtype=float)

    # Filter array to include only non-integer values
    filtered_arr = array_data[(array_data % 1 != 0) | (array_data == 1)]
    
    # Reshape array and create a DataFrame with the filtered data
    df = pd.DataFrame(filtered_arr.reshape(-1, 10))
    
    # Apply formatting to round the numbers to four decimal places
    df = df.applymap(lambda x: np.floor(x * 10000) / 10000)
    
    # Append the data to the main DataFrame
    rating_factor_table_three_digits_13_29 = rating_factor_table_three_digits_13_29._append(df, ignore_index=True)

# Display the final DataFrame
rating_factor_table_three_digits_13_29

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\343141783.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,1.0013,0.9824,0.7080,0.8191,0.8394,0.8648,0.9706,0.4078,0.4696,1.0387
1,0.9955,0.9791,0.7009,1.0466,0.8516,0.8648,1.0996,0.3700,0.4504,1.0456
2,0.9955,0.9791,0.7066,1.1189,0.8516,0.8648,1.0782,0.4084,0.4553,1.0471
3,0.9955,0.9791,0.7002,0.9466,0.8474,0.8648,1.0356,0.3592,0.4617,1.0452
4,0.9955,0.9791,0.7006,0.9111,0.8423,0.8648,1.1240,0.3915,0.4444,1.0491
...,...,...,...,...,...,...,...,...,...,...
345,1.0016,0.9791,0.7953,1.2309,0.8585,0.9337,1.0325,0.3844,0.2703,1.0992
346,0.9982,0.9791,0.7280,0.5256,0.9053,1.0383,1.1857,0.3600,0.2707,1.1301
347,0.9305,1.0351,0.9610,0.5384,0.8733,0.8641,0.1874,0.6706,0.6470,1.0218
348,1.0077,0.9824,0.7818,1.0328,0.8535,0.9283,0.9624,0.3726,0.2708,1.0886
349,0.9426,1.0415,0.7156,1.1692,0.8361,1.0983,0.7173,0.4600,0.3789,0.9692

### Doing manually for a few rows (pdf pg 29)

In [11]:
data = """
456 0.9982 0.9791 0.7769 0.5027 0.8823 1.0426 1.1692 0.3575 0.2711 1.1301
457 1.0016 0.9791 0.7582 1.2826 0.8601 0.9262 1.0341 0.3583 0.2710 1.1084
458 1.0164 1.0382 0.6313 1.3534 0.8418 1.3196 0.8818 0.3934 0.2957 0.9759
459 1.0016 0.9791 0.7629 1.1281 0.8573 0.9263 1.0055 0.3359 0.2712 1.0965
460 1.0016 0.9791 0.7616 1.0153 0.8493 1.0313 1.0904 0.3526 0.2710 1.1201
461 1.0119 1.0071 0.8316 0.6031 0.8305 1.1268 0.9319 0.3747 0.2734 1.0203
462 1.0119 1.0071 0.8154 0.5923 0.8230 1.1441 0.9267 0.3423 0.2763 1.0132
"""

# Converting the data into a pandas DataFrame
data = [list(map(float, row.split())) for row in data.strip().split('\n')]
rating_factor_table_pg_29 = pd.DataFrame(data)
rating_factor_table_pg_29 = rating_factor_table_pg_29.drop(columns=[0])
new_column_names = list(range(10))  # List of new column names from 0 to 9

# Rename the columns (note: this works if the dataframe has exactly 10 columns)
rating_factor_table_pg_29 .columns = new_column_names[:rating_factor_table_pg_29 .shape[1]] 
rating_factor_table_pg_29

,0,1,2,3,4,5,6,7,8,9
0,0.9982,0.9791,0.7769,0.5027,0.8823,1.0426,1.1692,0.3575,0.2711,1.1301
1,1.0016,0.9791,0.7582,1.2826,0.8601,0.9262,1.0341,0.3583,0.2710,1.1084
2,1.0164,1.0382,0.6313,1.3534,0.8418,1.3196,0.8818,0.3934,0.2957,0.9759
3,1.0016,0.9791,0.7629,1.1281,0.8573,0.9263,1.0055,0.3359,0.2712,1.0965
4,1.0016,0.9791,0.7616,1.0153,0.8493,1.0313,1.0904,0.3526,0.2710,1.1201
5,1.0119,1.0071,0.8316,0.6031,0.8305,1.1268,0.9319,0.3747,0.2734,1.0203
6,1.0119,1.0071,0.8154,0.5923,0.8230,1.1441,0.9267,0.3423,0.2763,1.0132

### Pages (pdf 30 - 173)

In [7]:
rating_factor_table_all_lines_per_page = pd.DataFrame()

for page_number in range(29, 173):
    # Define start_line and end_line, modify these if necessary
    start_line = 12
    end_line = 32
    
    # Extract specific lines from the page
    specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
    
    # Convert list of strings into a single string and split into individual values
    data_values = ' '.join(specific_lines).split()

    # Convert list of strings to a NumPy array of floats
    array_data = np.array(data_values, dtype=float)

    # Filter array to include only non-integer values
    filtered_arr = array_data[(array_data % 1 != 0) | (array_data == 1)]
    
    # Reshape array and create a DataFrame with the filtered data
    df = pd.DataFrame(filtered_arr.reshape(-1, 10))
    
    # Apply formatting to round the numbers to four decimal places
    df = df.applymap(lambda x: np.floor(x * 10000) / 10000)
    
    # Append the data to the main DataFrame
    rating_factor_table_all_lines_per_page = rating_factor_table_all_lines_per_page._append(df, ignore_index=True)

# Display the final DataFrame
rating_factor_table_all_lines_per_page

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\2331028512.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,1.0016,0.9791,0.7577,1.0815,0.8568,0.9259,1.0596,0.3372,0.2715,1.1171
1,0.9998,0.9791,0.6750,0.5986,0.9056,1.1827,1.3537,0.3372,0.2799,1.0398
2,1.0077,0.9911,0.7712,0.8755,0.8476,0.9909,0.9853,0.3247,0.2726,1.0600
3,0.9392,1.0415,0.6048,1.2669,0.8533,1.0731,0.7761,0.4285,0.3309,0.9702
4,1.0077,0.9885,0.7725,0.8893,0.8476,0.9685,1.0020,0.3610,0.2725,1.0731
...,...,...,...,...,...,...,...,...,...,...
3019,0.9535,1.0071,0.5100,0.3507,0.9374,0.7184,2.5355,0.3640,0.2911,0.9815
3020,0.9634,1.0093,0.6216,0.5409,0.9487,0.8987,2.2435,0.4032,0.3140,0.9742
3021,1.1141,0.9157,0.5323,1.0718,1.1986,0.4421,11.1626,0.2633,0.1827,1.1063
3022,0.9462,1.0966,0.8651,0.9373,0.9641,0.9566,1.2708,0.4608,0.5961,1.0000
3023,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,3.7743,0.3773,0.2736,0.9942

### The last page (pdf pg 174)

In [8]:
import PyPDF2
import re
import numpy as np
import pandas as pd

# Function to extract specific lines from a given page number
def extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line):
    with open(pdf_path, 'rb') as file:
        # Create a PDF reader object
        pdf_reader = PyPDF2.PdfReader(file)
        
        # Check if the page number is within the range
        if page_number < len(pdf_reader.pages):
            # Extract text from the specific page
            page = pdf_reader.pages[page_number]
            text = page.extract_text()
            
            # Split the text into lines
            lines = text.split('\n')
            
            # Get the desired lines (adjusting for zero-based indexing)
            if len(lines) >= end_line:
                return lines[start_line-1:end_line]
            else:
                return "Page does not contain enough lines."
        else:
            return "Page number is out of range."

# Example usage
pdf_path = 'D:\\LSU\\Research\\wind_ins\\USAA-134022151\\Rate-Rule Attachments\\LA Rate Pages - Part 1.pdf'   # Replace with your file path
page_number = 173 
start_line = 12
end_line = 26
specific_lines = extract_specific_lines_from_page(pdf_path, page_number, start_line, end_line)
#print("\n".join(specific_lines))

# Convert list of strings into a single string and split into individual values
data_values = ' '.join(specific_lines).split()

# Convert list of strings to a NumPy array of floats
array_data = np.array(data_values, dtype=float)

filtered_arr = array_data[(array_data % 1 != 0) | (array_data == 1)]
df = pd.DataFrame(filtered_arr.reshape(-1, 10))
rating_factor_table_last_page = df.applymap(lambda x: np.floor(x * 10000) / 10000)
rating_factor_table_last_page

C:\Users\Ishmam Zuhayr\AppData\Local\Temp\ipykernel_38700\2515713230.py:45: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  rating_factor_table_last_page = df.applymap(lambda x: np.floor(x * 10000) / 10000)

,0,1,2,3,4,5,6,7,8,9
0,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,5.7784,0.3495,0.2522,0.9976
1,0.9582,1.0063,0.6052,0.5054,0.9671,0.7820,2.6376,0.3757,0.2979,0.9816
2,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,3.0316,0.3482,0.2819,0.9890
3,0.9634,1.0093,0.6216,0.5409,0.9487,0.8987,2.2435,0.4032,0.3140,0.9742
4,0.9634,1.0093,0.6216,0.5409,0.9487,0.8987,2.2435,0.4032,0.3140,0.9742
5,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,3.4030,0.3627,0.2778,0.9916
6,0.9508,0.9753,0.7189,0.9002,1.2173,0.9439,7.7914,0.3242,0.3074,1.0000
7,0.9188,1.0415,0.6408,0.6775,0.9534,0.6754,1.4221,0.4457,0.5753,0.9719
8,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,3.0316,0.3482,0.2819,0.9890
9,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,4.4050,0.3489,0.2671,0.9933
10,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,4.4050,0.3489,0.2671,0.9933
11,1.0817,0.8440,0.4961,1.1001,1.1007,0.5396,12.0225,0.1839,0.1930,1.0510
12,0.9508,0.9753,0.5407,0.8974,1.2173,0.6812,7.4231,0.2954,0.1937,0.9944
13,1.0156,0.9226,0.5396,1.0130,1.2178,0.5160,5.6883,0.2393,0.1809,1.0321
14,0.9832,0.9490,0.5402,0.9553,1.2175,0.5986,6.7398,0.2818,0.1865,1.0048

### Combine all the tables

In [12]:
Rating_Area_table = pd.DataFrame()

Rating_Area_table =  pd.concat([rating_factor_table_1st_page,
                                 rating_factor_table_two_digits,
                                 rating_factor_table_two_to_three_digits,
                                 rating_factor_table_three_digits_13_29,
                                 rating_factor_table_pg_29,
                                 rating_factor_table_all_lines_per_page,
                                 rating_factor_table_last_page], ignore_index=True)

In [13]:
Rating_Area_table

,0,1,2,3,4,5,6,7,8,9
0,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
1,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
2,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
3,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.3904,0.3746,0.4102,0.9861
4,0.9873,0.9764,0.8841,0.9247,0.8397,0.9613,1.2645,0.4185,0.3981,0.9717
...,...,...,...,...,...,...,...,...,...,...
3496,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,4.4050,0.3489,0.2671,0.9933
3497,1.0817,0.8440,0.4961,1.1001,1.1007,0.5396,12.0225,0.1839,0.1930,1.0510
3498,0.9508,0.9753,0.5407,0.8974,1.2173,0.6812,7.4231,0.2954,0.1937,0.9944
3499,1.0156,0.9226,0.5396,1.0130,1.2178,0.5160,5.6883,0.2393,0.1809,1.0321
3500,0.9832,0.9490,0.5402,0.9553,1.2175,0.5986,6.7398,0.2818,0.1865,1.0048

In [15]:
# New header
new_header = ['Other Perils', 'Fire', 'Other Wind and Hail', 'Theft', 'Water',  
              'Liability', 'Hurricane', 'Severe Thunderstorm', 'Winter Storm', 'Earthquake']

# Rename the columns
Rating_Area_table.columns = new_header
Rating_Area_table

,Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake
0,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
1,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
2,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
3,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.3904,0.3746,0.4102,0.9861
4,0.9873,0.9764,0.8841,0.9247,0.8397,0.9613,1.2645,0.4185,0.3981,0.9717
...,...,...,...,...,...,...,...,...,...,...
3496,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,4.4050,0.3489,0.2671,0.9933
3497,1.0817,0.8440,0.4961,1.1001,1.1007,0.5396,12.0225,0.1839,0.1930,1.0510
3498,0.9508,0.9753,0.5407,0.8974,1.2173,0.6812,7.4231,0.2954,0.1937,0.9944
3499,1.0156,0.9226,0.5396,1.0130,1.2178,0.5160,5.6883,0.2393,0.1809,1.0321
3500,0.9832,0.9490,0.5402,0.9553,1.2175,0.5986,6.7398,0.2818,0.1865,1.0048

In [16]:
Rating_Area_table.insert(0, 'Rating Area', range(1, len(Rating_Area_table) + 1))
Rating_Area_table

,Rating Area,Other Perils,Fire,Other Wind and Hail,Theft,Water,Liability,Hurricane,Severe Thunderstorm,Winter Storm,Earthquake
0,1,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
1,2,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
2,3,0.9873,0.9688,0.5629,0.7348,0.9931,1.0442,2.5297,0.3059,0.4125,0.9922
3,4,0.9839,0.9774,0.9480,0.6619,0.8722,0.9966,1.3904,0.3746,0.4102,0.9861
4,5,0.9873,0.9764,0.8841,0.9247,0.8397,0.9613,1.2645,0.4185,0.3981,0.9717
...,...,...,...,...,...,...,...,...,...,...,...
3496,3497,0.9529,1.0033,0.5891,0.4699,0.9854,0.6652,4.4050,0.3489,0.2671,0.9933
3497,3498,1.0817,0.8440,0.4961,1.1001,1.1007,0.5396,12.0225,0.1839,0.1930,1.0510
3498,3499,0.9508,0.9753,0.5407,0.8974,1.2173,0.6812,7.4231,0.2954,0.1937,0.9944
3499,3500,1.0156,0.9226,0.5396,1.0130,1.2178,0.5160,5.6883,0.2393,0.1809,1.0321
3500,3501,0.9832,0.9490,0.5402,0.9553,1.2175,0.5986,6.7398,0.2818,0.1865,1.0048

In [18]:
Rating_Area_table.to_csv("D:\\LSU\\Research\\wind_ins\\USAA-134022151\\output_tables\\Rating_Area_Factors_USAA_Group_Owners_Forms.csv", index=False)